.contact-page {
    background: var(--main-color-10);
    padding: 20px;
}

.contact-container {
    max-width: 1400px; // 960px
    margin: 0 auto;
    padding: 1.875rem; // 30px
    background: #fff;
    border-radius: 1rem;

    h2 {
        text-align: center;
        margin-bottom: 1.25rem; // 20px
        font-size: 1.5rem; // 24px
    }

    .contact-content {
        .form {
            max-width: 700px;
            margin: 0 auto;
            margin-bottom: 2rem;

            .pr-btn {
                padding: 0.5rem 1.25rem;
                font-size: 1.25rem;
            }
        }

        .team-info {
            flex: 1 1 18.75rem; // 300px

            h3 {
                font-size: 2rem; // 20px
                font-weight: 700;
                text-align: center;
                margin-bottom: 1.5rem; // 15px
            }

            ul {
                list-style: none;
                padding: 0;

                .r1, .r2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    margin-bottom: 2rem;
                }

                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5rem;
                    margin-bottom: 0.9375rem; // 15px

                    strong {
                        font-size: 1.25rem;
                        font-weight: 700;
                    }

                    a {
                        color: var(--main-color);
                        text-decoration: none;
                        font-size: 1.25rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

/* Responsive */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        gap: 1.5rem; // 24px
    }
}

@media (max-width: 480px) {
    .contact-container {
        padding: 1rem; // 16px
    }
    .contact-content form,
    .contact-content .team-info {
        flex: 1 1 100%;
    }
}
