#tutor-lesson-detail-section {
    .tlds-container {
        max-width: 1200px;
        margin: 0 auto;

        .tldscr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            margin-bottom: 2rem;

            h4 {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--main-color);
            }

            p {
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--main-black);

                span {
                    background: var(--main-color-10);
                    padding: 0.5rem 0.75rem;
                    border-radius: 0.5rem;
                    margin-left: 0.5rem;
                }
            }
        }

        .tldscr2 {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 2rem;
            margin-bottom: 2rem;

            .tldscr2-item {
                flex: 1;
                background: #fff;
                border-radius: 1rem;
                padding: 1rem;
                cursor: pointer;
                transition: all 0.3s ease;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 1rem;
                transition: all 0.3s ease;

                .tldscr2-item-icon {
                    padding: 0.5rem;
                    font-size: 1.75rem;
                    background: var(--main-color);
                    border-radius: 0.75rem;
                    color: #fff;
                }

                h5 {
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: var(--main-color);
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--main-color);
                }

                &:hover {
                    background: var(--main-color-50);

                    h5,
                    p {
                        color: #fff;
                    }
                }

                &.active {
                    background: var(--main-color);

                    .altscr2-item-icon {
                        background: #fff;
                        color: var(--main-color);
                    }

                    h5,
                    p {
                        color: #fff;
                    }
                }
            }
        }

        .tldscr3 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            p {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--main-black);

                span {
                    font-size: 1.25rem;
                    font-weight: 500;
                }
            }

            .pr-btn {
                padding: 0.5rem 1.25rem;
                font-size: 1.25rem;
            }
        }

        .tldscr4 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            margin-bottom: 2rem;

            .tldscr4r1 {
                .sub-tabs {
                    max-width: 700px;
                    display: flex;
                    align-items: center;
                    padding: 0.25rem;
                    margin: 0 auto 2rem;
                    background: #fff;
                    border-radius: 1.5rem;
                    border: 1px solid var(--main-color);
                    gap: 0.5rem;

                    .sub-tab {
                        position: relative;
                        flex: 1;
                        padding: 0.75rem 0 0.5rem;
                        font-size: 1.15rem;
                        font-weight: 500;
                        text-align: center;
                        color: var(--main-color);
                        cursor: pointer;
                        transition: color 0.3s ease;
                        border-radius: 1.15rem;

                        &.active {
                            background: var(--main-color);
                            color: #fff;
                            font-weight: 700;
                            font-size: 1.15rem;
                        }

                        &:hover:not(.active) {
                            background: var(--main-color-10);
                            color: var(--main-color);
                        }
                    }
                }
            }

            .tldscr4r2 {
                margin-bottom: 2rem;

                .detail-lesson {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }

                .detail-group {
                    background: #fff;
                    border-radius: 1rem;
                    padding: 1.5rem 2rem;
                    border: 1px solid #e5e7eb;
                    box-shadow: 0 3px 10px var(--main-color-20);

                    .pr-btn,
                    .delete-btn,
                    .disable-btn,
                    .sc-btn {
                        padding: 0.75rem 1.25rem;
                        font-size: 1.25rem;
                        margin-top: 1rem;
                    }
                }

                .group-title {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: var(--main-black);
                    margin-bottom: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: 2px solid var(--main-color);
                }

                .group-content {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1.5rem;
                }

                .detail-item {
                    background: #fff;
                    padding: 1rem;
                    border-radius: 0.75rem;
                    border: 1px solid var(--main-color);
                }

                .detail-item h4 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: var(--main-color);
                    margin-bottom: 0.5rem;
                }

                .detail-item p {
                    font-size: 1.25rem;
                    color: var(--main-black);
                }

                /* Lịch học */
                .schedule-item {
                    margin-top: 8px;
                    padding: 0.75rem;
                    border-radius: 8px;
                    background: #fff;
                    border: 4px solid var(--main-color);
                }

                .schedule-day {
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: var(--main-black);
                    margin-bottom: 0.5rem;
                }

                .schedule-time {
                    font-size: 1rem;
                    color: var(--main-black);
                }

                .pr-btn,
                .delete-btn,
                .disable-btn,
                .sc-btn {
                    max-width: 300px;
                    margin: 0 auto;
                    padding: 0.5rem 1.25rem;
                    font-size: 1.25rem;
                }
            }

            .tldscr4r3 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                .pr-btn,
                .delete-btn,
                .disable-btn {
                    padding: 0.75rem 1.25rem;
                    font-size: 1.25rem;
                }
            }
        }

        .tldscr5 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;

            h3 {
                font-size: 2rem;
                font-weight: 700;
                color: var(--main-color);
                text-align: center;
                margin-bottom: 2rem;
            }

            .pr-btn {
                padding: 0.5rem 1.25rem;
                font-size: 1.25rem;
            }
        }
    }

    .modal-student-list {
        display: flex;
        flex-direction: column;
        gap: 1rem; // 16px
        max-height: 25rem; // 400px
        overflow-y: auto;
        padding-right: 0.375rem; // 6px

        &::-webkit-scrollbar {
            width: 0.375rem; // 6px
        }

        &::-webkit-scrollbar-thumb {
            background: #c5c5c5;
            border-radius: 0.625rem; // 10px
        }
    }

    .form {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 1rem;
    }
    .modal-student-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem; // 12px 16px
        border-radius: 0.625rem; // 10px
        background: #f8f9fa;
        border: 1px solid #e5e5e5;
        transition: 0.2s ease-in-out;

        .info {
            display: flex;
            align-items: center;
            gap: 0.75rem; // 12px

            img {
                width: 4rem; // 40px
                height: 4rem; // 40px
                border-radius: 50%;
            }

            p {
                font-size: 1.5rem; // 16px
                font-weight: 500;
                margin: 0;
                color: #333;
            }
        }

        &:hover {
            background: #f1f1f1;
            transform: translateY(-0.0625rem); // -1px
        }
    }

    .btn-group {
        display: flex;
        gap: 0.75rem; // 10px

        button {
            padding: 0.375rem 0.875rem; // 6px 14px
            border-radius: 0.5rem; // 8px
            font-size: 1.5rem; // 14px
            border: none;
            cursor: pointer;
            transition: 0.25s;
            font-weight: 500;

            &.btn-normal {
                background: #ffffff;
                border: 1px solid #d4d4d4;
                color: #333;

                &:hover {
                    background: #efefef;
                }
            }

            &.btn-active {
                background: var(--main-color);
                color: white;
                box-shadow: 0 0.125rem 0.3125rem rgba(76, 175, 80, 0.3);
                border: 1px solid var(--main-color);

                &:hover {
                    background: var(--main-color);
                }
            }

            &.btn-active-absent {
                background: #f44336;
                color: white;
                box-shadow: 0 0.125rem 0.3125rem rgba(244, 67, 54, 0.3);
                border: 1px solid #d32f2f;

                &:hover {
                    background: #e53935;
                }
            }
        }
    }

    .modal-actions {
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 0.75rem; // 12px
        margin-top: 1.25rem; // 20px

        .pr-btn,
        .sc-btn,
        .disable-btn {
            padding: 0.5rem 1.25rem;
            font-size: 1.25rem;
        }
    }
}
