.student-booking-tutor {
    h3 {
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        color: var(--main-color);
        margin: 0;
        margin-bottom: 2rem;
    }

    .table {
        .pr-btn,
        .delete-btn {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            margin: 0 0.2rem;
        }
    }

    .detail-booking-tutor {
        display: flex;
        align-items: start;
        gap: 2rem;
        margin-bottom: 1rem;

        .dbtc1,
        .dbtc2 {
            flex: 1;
        }

        h4 {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--main-color);
            margin: 0;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1.25rem;
            font-weight: 500;
            color: var(--main-black);
            margin: 0;
            margin-bottom: 1rem;
        }
    }

    .group-btn {
        display: flex;
        flex-direction: column;
        align-items: center;

        .pr-btn,
        .sc-btn,
        .disable-btn,
        .delete-btn {
            width: 300px;
            padding: 0.5rem 1.25rem;
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }
    }
}
