.student-informtion-sidebar {
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    padding: 1.5rem;

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
            list-style: none;
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--main-black);
            padding: 1rem 1.5rem;
            border-radius: 0.5rem;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--main-color-30);
            }

            &.actived {
                background-color: var(--main-color);
                color: #fff;
            }
        }
    }
}