.student-schedule {
    h4 {
        font-size: 2rem;
        font-weight: 700;
        color: var(--main-color);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid var(--main-color);
        text-align: center;
    }

    .tabs {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        margin: 1rem 0 2rem;
        background: #fff;
        border-radius: 1.5rem;
        border: 1px solid var(--main-color);
        gap: 0.5rem;

        .tab {
            position: relative;
            flex: 1;
            padding: 0.75rem 0 0.5rem;
            font-size: 1.25rem;
            font-weight: 500;
            text-align: center;
            color: var(--main-color);
            cursor: pointer;
            transition: color 0.3s ease;

            &.active {
                background: var(--main-color);
                border-radius: 1rem;
                color: #fff;
                font-weight: 700;
                font-size: 1.25rem;
            }

            &:hover:not(.active) {
                background: var(--main-color-10);
                color: var(--main-color);
                border-radius: 1rem;
            }
        }
    }

    .sub-tabs {
        max-width: 500px;
        display: flex;
        align-items: center;
        padding: 0.25rem;
        margin: 0 auto 2rem;
        background: #fff;
        border-radius: 1.5rem;
        border: 1px solid var(--main-color);
        gap: 0.5rem;

        .sub-tab {
            position: relative;
            flex: 1;
            padding: 0.75rem 0 0.5rem;
            font-size: 1.15rem;
            font-weight: 500;
            text-align: center;
            color: var(--main-color);
            cursor: pointer;
            transition: color 0.3s ease;
            border-radius: 1.15rem;

            &.active {
                background: var(--main-color);
                color: #fff;
                font-weight: 700;
                font-size: 1.15rem;
            }

            &:hover:not(.active) {
                background: var(--main-color-10);
                color: var(--main-color);
            }
        }
    }

    .week-header {
        margin-bottom: 1rem;

        .week-actions {
            display: flex;
            justify-content: center;
            gap: 0.5rem;

            .pr-btn,
            .sc-btn {
                padding: 0.5rem 1.25rem;
                font-size: 1.25rem;
            }
        }
    }

    .schedule-week-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .schedule-group {
            background: #fff;
            border-radius: 1rem;
            padding: 1rem;
            border: 1px solid #e5e7eb;
            box-shadow: 0 3px 10px var(--main-color-20);
        }

        .group-title {
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--main-black);
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
            border-bottom: 2px solid var(--main-color);
        }

        .group-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }

        .no-session {
            text-align: center;
            font-size: 1.25rem;
            padding: 1rem;
            font-weight: 500;
            color: var(--main-black);
            grid-column: span 2;
        }
    }

    .form {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}
