.student-reschedule {
    .srr1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        h3 {
            font-size: 2rem;
            font-weight: 800;
            text-align: center;
            color: var(--main-color);
            margin: 0;
        }

        .sc-btn {
            width: fit-content;
            padding: 0.75rem 1.25rem;
            font-size: 1.25rem;
        }
    }

    .table {
        .pr-btn {
            padding: 0.5rem 1rem;
            font-size: 1rem;
        }
    }

    .sub-tabs {
        max-width: 500px;
        display: flex;
        align-items: center;
        padding: 0.25rem;
        margin: 0 auto 2rem;
        background: #fff;
        border-radius: 1.5rem;
        border: 1px solid var(--main-color);
        gap: 0.5rem;

        .sub-tab {
            position: relative;
            flex: 1;
            padding: 0.75rem 0 0.5rem;
            font-size: 1.15rem;
            font-weight: 500;
            text-align: center;
            color: var(--main-color);
            cursor: pointer;
            transition: color 0.3s ease;
            border-radius: 1.15rem;

            &.active {
                background: var(--main-color);
                color: #fff;
                font-weight: 700;
                font-size: 1.15rem;
            }

            &:hover:not(.active) {
                background: var(--main-color-10);
                color: var(--main-color);
            }
        }
    }

    .group-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;

        .pr-btn,
        .sc-btn,
        .disable-btn,
        .delete-btn {
            width: 300px;
            padding: 0.5rem 1.25rem;
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }
    }

    .detail-reschedule {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .detail-group {
        background: #fff;
        border-radius: 1rem;
        padding: 1.5rem 2rem;
        border: 1px solid #e5e7eb;
        box-shadow: 0 3px 10px var(--main-color-20);

        .pr-btn,
        .delete-btn,
        .disable-btn {
            padding: 0.75rem 1.25rem;
            font-size: 1.25rem;
            margin-top: 1rem;
        }
    }

    .group-title {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--main-black);
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid var(--main-color);
    }

    .group-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .detail-item {
        background: #fff;
        padding: 1rem;
        border-radius: 0.75rem;
        border: 1px solid var(--main-color);
    }

    .detail-item h4 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--main-color);
        margin-bottom: 0.5rem;
    }

    .detail-item p {
        font-size: 1.25rem;
        color: var(--main-black);
    }

    /* Lịch học */
    .schedule-item {
        margin-top: 8px;
        padding: 0.75rem;
        border-radius: 8px;
        background: #fff;
        border: 4px solid var(--main-color);
    }

    .schedule-day {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--main-black);
        margin-bottom: 0.5rem;
    }

    .schedule-time {
        font-size: 1rem;
        color: var(--main-black);
    }

    .detail-item-schedule {
        grid-column: span 2; // Chiếm 2 cột
    }
}
