.student-notification {
    h3 {
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
        color: var(--main-color);
        margin-bottom: 2rem;
    }

    .table {
        .pr-btn {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            margin: 0 0.2rem;
        }
    }
}