.student-change-password {
    .form {
        max-width: 500px;
        margin: 0 auto;

        .pr-btn {
            width: 100%;
            padding: 0.75rem 1.25rem;
            font-size: 1.25rem;
            margin-top: 2rem;
        }
    }
}