.student-profile {
    position: relative;

    .avatar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        .pr-btn, .sc-btn, .delete-btn, .disable-btn {
            width: max-content;
        }
    }

    .avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 2rem;
    }

    .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .pr-btn,
    .disable-btn {
        width: 100%;
        padding: 0.75rem 1.25rem;
        font-size: 1.25rem;
        grid-column: span 2;
    }
}
