.student-report-learning {
    height: 100%;

    h4 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--main-color);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid var(--main-color);
        text-align: center;
    }

    .tabs {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        margin: 1rem 0 2rem;
        background: #fff;
        border-radius: 1.5rem;
        border: 1px solid var(--main-color);
        gap: 0.5rem;

        .tab {
            position: relative;
            flex: 1;
            padding: 0.75rem 0 0.5rem;
            font-size: 1.25rem;
            font-weight: 500;
            text-align: center;
            color: var(--main-color);
            cursor: pointer;
            transition: color 0.3s ease;

            &.active {
                background: var(--main-color);
                border-radius: 1rem;
                color: #fff;
                font-weight: 600;
                font-size: 1.25rem;
            }

            &:hover:not(.active) {
                background: var(--main-color-10);
                color: var(--main-color);
                border-radius: 1rem;
            }
        }
    }

    .form-field {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .pie-chart {
        width: 300px;
        height: 300px;
        margin: 0 auto;

        .recharts-wrapper *:focus {
            outline: none;

            .recharts-default-legend {
                width: fit-content;
                margin: 0 auto !important;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                .recharts-legend-item {
                    display: flex !important;
                    align-items: center !important;
                }
            }
        }
    }
}
