#header-parent {
    #hp-section {
        padding: 0 20px;

        .hps-container {
            max-width: 1400px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }
    }
}