#tutor-detail-reschedule-section {
    .tdrs-container {
        max-width: 1200px;
        margin: 0 auto;

        .tdrscr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            margin-bottom: 2rem;

            h4 {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--main-color);
            }

            p {
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--main-black);

                span {
                    background: var(--main-color-10);
                    padding: 0.5rem 0.75rem;
                    border-radius: 0.5rem;
                    margin-left: 0.5rem;
                }
            }
        }

        .tdrscr2 {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 2rem;
            margin-bottom: 2rem;

            .tdrscr2-item {
                flex: 1;
                background: #fff;
                border-radius: 1rem;
                padding: 1rem;
                cursor: pointer;
                transition: all 0.3s ease;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 1rem;
                transition: all 0.3s ease;

                .tdrscr2-item-icon {
                    padding: 0.5rem;
                    font-size: 1.75rem;
                    background: var(--main-color);
                    border-radius: 0.75rem;
                    color: #fff;
                }

                h5 {
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: var(--main-color);
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--main-color);
                }

                &:hover {
                    background: var(--main-color-50);

                    h5,
                    p {
                        color: #fff;
                    }
                }

                &.active {
                    background: var(--main-color);

                    .altscr2-item-icon {
                        background: #fff;
                        color: var(--main-color);
                    }

                    h5,
                    p {
                        color: #fff;
                    }
                }
            }
        }

        .tdrscr3 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            p {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--main-black);

                span {
                    font-size: 1.25rem;
                    font-weight: 500;
                }
            }

            .pr-btn {
                padding: 0.5rem 1.25rem;
                font-size: 1.25rem;
            }
        }

        .tdrscr4 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;

            .tdrscr4r1 {
                margin-bottom: 2rem;

                .detail-reschedule {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }

                .detail-group {
                    background: #fff;
                    border-radius: 1rem;
                    padding: 1.5rem 2rem;
                    border: 1px solid #e5e7eb;
                    box-shadow: 0 3px 10px var(--main-color-20);
                }

                .group-title {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: var(--main-black);
                    margin-bottom: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: 2px solid var(--main-color);
                }

                .group-content {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1.5rem;
                }

                .detail-item {
                    background: #fff;
                    padding: 1rem;
                    border-radius: 0.75rem;
                    border: 1px solid var(--main-color);
                }

                .detail-item h4 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: var(--main-color);
                    margin-bottom: 0.5rem;
                }

                .detail-item p {
                    font-size: 1.25rem;
                    color: var(--main-black);
                }

                /* Lịch học */
                .schedule-item {
                    margin-top: 8px;
                    padding: 0.75rem;
                    border-radius: 8px;
                    background: #fff;
                    border: 4px solid var(--main-color);
                }

                .schedule-day {
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: var(--main-black);
                    margin-bottom: 0.5rem;
                }

                .schedule-time {
                    font-size: 1rem;
                    color: var(--main-black);
                }

                .detail-item-schedule {
                    grid-column: span 2; // Chiếm 2 cột
                }
            }

            .tdrscr4r2 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                .pr-btn,
                .delete-btn,
                .disable-btn {
                    padding: 0.75rem 1.25rem;
                    font-size: 1.25rem;
                }
            }
        }
    }
}
