.filter-course-container {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px var(--main-color-20);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--main-color);
        margin: 0;
        text-align: center;
    }

    .fccr1,
    .fccr2,
    .fccr3,
    .fccr5,
    .fccr7 {
        input:not([type="checkbox"]),
        select {
            width: 100%;
            padding: 0.75rem 1.25rem;
            font-size: 1rem;
            font-weight: 500;
            border: 1px solid #ccc;
            border-radius: 0.5rem;
        }

        select {
            text-align: center;
        }

        h4 {
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--main-color);
            margin: 0;
            margin-bottom: 0.5rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .icon {
                color: var(--main-black);
            }
        }
    }

    .fccr4,
    .fccr6 {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h4 {
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--main-color);
            margin: 0;
            margin-bottom: 0.5rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .icon {
                color: var(--main-black);
            }
        }
    }

    .fccr4,
    .fccr5 {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .block {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.5rem;

            input[type="checkbox"],
            input[type="radio"] {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    .pr-btn {
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
    }
}
