#list-course-section {
    background-color: var(--main-color-10);
    padding: 100px 20px;

    .lcs-container {
        max-width: 1600px;
        margin: 0 auto;

        .lcscr1 {
            h2 {
                font-size: 2rem;
                font-weight: 800;
                color: var(--main-color);
                margin: 0;
                text-align: center;
                margin-bottom: 3rem;
            }
        }

        .lcscr2 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 1rem;

            .lcscr2c1 {
                flex: 1;
            }

            .lcscr2c2 {
                flex: 3;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: start;
                gap: 1.5rem;
            }
        }
    }
}
