.tutor-schedule-card {
    background: #fff;
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid var(--main-color);

    h4 {
        font-size: 1.5rem !important;
        font-weight: 700 !important;
        color: var(--main-color) !important;
        margin-bottom: 0.5rem !important;
        border: none !important;
    }

    /* Lịch học */
    .schedule-item {
        padding: 0.5rem;
        border-radius: 8px;
        margin: 0.5rem 0;
        background: #fff;
        border: 4px solid var(--main-color);
    }

    .schedule-day {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--main-black);
        margin-bottom: 0.5rem;
    }

    .schedule-time {
        font-size: 1rem;
        color: var(--main-black);
    }

    .pr-btn {
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        width: 100%;
    }
}
