#cancel-booking-tutor-for-student-modal {
    max-width: 1000px;
    margin: 0 auto;

    h3 {
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        color: var(--main-color);
        margin: 0;
        margin-bottom: 2rem;
    }

    .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-bottom: 2rem;
    }
}
