.confirm-payment-modal {
    max-width: 600px;
    margin: 0 auto;

    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        color: var(--main-black);
    }

    .payment-info {
        display: flex;
        justify-content: center;
        align-items: center;

        .payment-icon {
            font-size: 2rem;
            color: var(--main-color);
            margin-right: 0.25rem;
        }

        p {
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--main-black);

            strong {
                font-size: 1.75rem;
                color: var(--main-color);
                font-weight: 700;
            }
        }
    }

    .modal-note {
        font-size: 1.75rem;
        font-weight: 500;
        text-align: center;
        color: var(--main-black);
        margin: 0;
        margin-bottom: 2rem;
    }

    .modal-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .pr-btn, .sc-btn, .disable-btn {
            padding: 0.5rem 1.25rem;
            font-size: 1.25rem;
        }
    }
}