.create-reschedule-modal {
    .form {
        max-width: 600px;
        margin: 0 auto;
    }

    .warning-msg {
        color: #d9534f;
        font-size: 1rem;
        background: #ffe5e5;
        padding: 0.5rem 1rem;
        border-radius: 0.6rem;
        border-left: 0.4rem solid #d9534f;
    }

    .pr-btn,
    .disable-btn {
        width: 100%;
        padding: 0.75rem 1.25rem;
        font-size: 1.25rem;
    }
}
