.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    z-index: 999;
}

.modal-container {
    background: #fff;
    border-radius: 12px;
    min-width: 500px;
    max-width: 1200px;
    width: 90%;
    max-height: 90vh;
    margin: 20px auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 10000;

    &::-webkit-scrollbar {
        display: none;
    }

    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
        border-bottom: 2px solid #eaeaea;
        background-color: #fff;
        z-index: 10000;

        .modal-title {
            font-size: 2rem !important;
            font-weight: 700 !important;
            color: var(--main-color);
        }

        .modal-close-btn {
            background: none;
            border: none;
            font-size: 28px;
            cursor: pointer;
            color: #666;
            transition: color 0.3s;

            &:hover {
                color: #333;
            }
        }
    }

    .modal-body {
        overflow-y: auto;
        padding: 2rem 2.5rem;
        font-size: 1rem;
        color: #333;
        line-height: 1.6;
    }
}

.ma-container {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;

    .macc {
        width: calc(50% - 20px);
        margin: 0 10px 30px;
    }

    .macr {
        width: 100%;
        margin: 0 10px 40px;
    }
}

.modal-confirm-delete {
    .cancle-delete-btn {
        background-color: #fff;
        color: #1e214d;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
