#remind-login-modal {
    .rlm-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        img {
            width: 200px;
            height: 200px;
            margin-bottom: 2rem;
        }

        h3 {
            max-width: 800px;
            text-align: center;
            font-size: 2rem;
            font-weight: 700;
            color: #393939;
            margin-bottom: 1rem;
        }

        h4 {
            max-width: 700px;
            font-size: 1.5rem;
            font-weight: 600;
            color: #393939;
            margin-bottom: 2rem;
        }

        .sc-btn {
            padding: 0.75rem 1.5rem;
            font-size: 1.25rem;
            font-weight: 700;
            border-radius: 1rem;
            margin-bottom: 1rem;
        }

        p {
            color: var(--main-color);
            font-size: 1.25rem;
            font-weight: 500;
            cursor: pointer;
        }
    }
}
