#tutor-accept-booking {
    .tab-container {
        h3 {
            font-size: 2rem;
            text-align: center;
            font-weight: 800;
            text-align: center;
            color: var(--main-color);
            margin: 0;
            margin-bottom: 2rem;
        }

        h4 {
            font-size: 1.5rem;
            text-align: center;
            font-weight: 600;
            color: var(--main-black);
            margin-bottom: 2rem;
        }

        p {
            max-width: 800px;
            margin: 0 auto;
            font-size: 1.25rem;
            text-align: center;
            font-weight: 500;
            color: var(--main-black);
            margin-bottom: 2rem;
        }

        .fee {
            max-width: 600px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;

            h5 {
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--main-color);
            }

            span {
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--main-black);
            }
        }

        .form {
            max-width: 500px;
            margin: 0 auto;
        }

        .group-btn {
            max-width: 500px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 1rem;

            .pr-btn,
            .sc-btn,
            .delete-btn,
            .disable-btn {
                padding: 0.5rem 1.25rem;
                font-size: 1.25rem;
            }
        }
    }
}
