.update-question-modal {
    .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-bottom: 2rem;

        .form-field-textarea,
        .pr-btn,
        .disable-btn {
            grid-column: span 2;
        }

        .pr-btn,
        .disable-btn {
            max-width: 100% !important;
        }
    }
}
