#tutor-change-password-section {
    .tcps-container {
        max-width: 1200px;
        margin: 0 auto;

        .tcpscr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            margin-bottom: 2rem;

            h4 {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--main-color);
            }

            p {
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--main-black);

                span {
                    background: var(--main-color-10);
                    padding: 0.5rem 0.75rem;
                    border-radius: 0.5rem;
                    margin-left: 0.5rem;
                }
            }
        }

        .tcpscr2 {
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            margin-bottom: 2rem;

            .pr-btn {
                padding: 0.5rem 1.25rem;
                font-size: 1.25rem;
            }
        }

        .tcpscr3 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;

            .form {
                max-width: 500px;
                margin: 0 auto;
                margin-bottom: 1rem;
                text-align: start;

                .pr-btn {
                    width: 100%;
                    padding: 0.75rem 1.25rem;
                    font-size: 1.25rem;
                    text-align: center;
                }
            }
        }
    }
}
