#admin-detail-parent-section {
    .adps-container {
        max-width: 1200px;
        margin: 0 auto;

        .adpscr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            margin-bottom: 2rem;

            h4 {
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--main-color);
            }

            p {
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--main-black);

                span {
                    background: var(--main-color-10);
                    padding: 0.5rem 0.75rem;
                    border-radius: 0.5rem;
                    margin-left: 0.5rem;
                }
            }
        }

        .adpscr2 {
            display: flex;
            justify-content: end;
            align-items: center;
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            margin-bottom: 2rem;

            .pr-btn {
                padding: 0.5rem 1.25rem;
                font-size: 1.25rem;
            }
        }

        .adpscr3 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;

            .adpscr3r1 {
                display: flex;
                gap: 1rem;
                margin-bottom: 1rem;

                .adpscr3r1c1,
                .adpscr3r1c2 {
                    flex: 1;
                }

                .adpscr3r1c1 {
                    padding: 1rem;
                    box-shadow: 0 4px 8px var(--main-color-10);
                    border-radius: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h5 {
                        font-size: 1.25rem;
                        font-weight: 600;
                        color: var(--main-color);
                        margin-bottom: 1rem;
                    }

                    .avatar {
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                        margin-bottom: 1rem;
                        border: 5px solid var(--main-color);
                    }
                }

                .adpscr3r1c2 {
                    padding: 1rem;
                    box-shadow: 0 4px 8px var(--main-color-10);
                    border-radius: 1rem;

                    padding: 1rem;
                    box-shadow: 0 4px 8px var(--main-color-10);
                    border-radius: 1rem;

                    h5 {
                        font-size: 1.25rem;
                        font-weight: 600;
                        color: var(--main-color);
                        margin-bottom: 1rem;
                    }

                    h6 {
                        font-size: 1.25rem;
                        font-weight: 700;
                        color: var(--main-black);
                        margin-bottom: 0.25rem;
                    }

                    p,
                    h2 {
                        font-size: 1.3rem;
                        font-weight: 500;
                        color: var(--main-black);
                        margin-bottom: 0.75rem;
                    }

                    h2 {
                        margin-bottom: 0.25rem;
                    }

                    a {
                        font-size: 1.25rem;
                        font-weight: 500;
                        color: var(--main-color);
                        margin-bottom: 0.75rem;
                    }

                    img {
                        width: 400px;
                        max-height: 200px;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
}
