#detail-tutor-class-section {
    .dtcs-container {
        max-width: 1200px;
        margin: 0 auto;

        .dtcscr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            margin-bottom: 2rem;

            h4 {
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--main-color);
            }

            p {
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--main-black);

                span {
                    background: var(--main-color-10);
                    padding: 0.5rem 0.75rem;
                    border-radius: 0.5rem;
                    margin-left: 0.5rem;
                }
            }
        }

        .dtcscr2 {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 2rem;
            margin-bottom: 2rem;

            .dtcscr2-item {
                flex: 1;
                background: #fff;
                border-radius: 1rem;
                padding: 1rem;
                cursor: pointer;
                transition: all 0.3s ease;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 1rem;
                transition: all 0.3s ease;

                .dtcscr2-item-icon {
                    padding: 0.5rem;
                    font-size: 1.75rem;
                    background: var(--main-color);
                    border-radius: 0.75rem;
                    color: #fff;
                }

                h5 {
                    font-size: 1.25rem;
                    font-weight: 600;
                    color: var(--main-color);
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--main-color);
                }

                &:hover {
                    background: var(--main-color-50);

                    h5,
                    p {
                        color: #fff;
                    }
                }

                &.active {
                    background: var(--main-color);

                    .altscr2-item-icon {
                        background: #fff;
                        color: var(--main-color);
                    }

                    h5,
                    p {
                        color: #fff;
                    }
                }
            }
        }

        .dtcscr3 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            p {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--main-black);

                span {
                    font-size: 1.25rem;
                    font-weight: 500;
                }
            }

            .pr-btn {
                padding: 0.5rem 1.25rem;
                font-size: 1.25rem;
            }
        }

        .dtcscr4 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            margin-bottom: 2rem;

            .dtcscr4r1 {
                display: flex;
                align-items: start;
                gap: 2rem;
                margin-bottom: 1rem;

                .dtcscr4r1c1,
                .dtcscr4r1c2 {
                    flex: 1;
                }

                h4 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: var(--main-color);
                    margin: 0;
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 1.25rem;
                    font-weight: 500;
                    color: var(--main-black);
                    margin: 0;
                    margin-bottom: 1rem;
                }
            }

            .dtcscr4r2 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                .pr-btn,
                .delete-btn,
                .disable-btn {
                    padding: 0.75rem 1.25rem;
                    font-size: 1.25rem;
                }
            }
        }

        .dtcscr5 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;

            h3 {
                font-size: 2rem;
                font-weight: 700;
                color: var(--main-color);
                text-align: center;
                margin-bottom: 2rem;
            }

            .pr-btn {
                padding: 0.5rem 1.25rem;
                font-size: 1.25rem;
            }
        }
    }
}
