#detail-tutor-class-section {
    .dtcs-container {
        max-width: 1200px;
        margin: 0 auto;

        .dtcscr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            margin-bottom: 2rem;

            h4 {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--main-color);
            }

            p {
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--main-black);

                span {
                    background: var(--main-color-10);
                    padding: 0.5rem 0.75rem;
                    border-radius: 0.5rem;
                    margin-left: 0.5rem;
                }
            }
        }

        .dtcscr2 {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 2rem;
            margin-bottom: 2rem;

            .dtcscr2-item {
                flex: 1;
                background: #fff;
                border-radius: 1rem;
                padding: 1rem;
                cursor: pointer;
                transition: all 0.3s ease;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 1rem;
                transition: all 0.3s ease;

                .dtcscr2-item-icon {
                    padding: 0.5rem;
                    font-size: 1.75rem;
                    background: var(--main-color);
                    border-radius: 0.75rem;
                    color: #fff;
                }

                h5 {
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: var(--main-color);
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--main-color);
                }

                &:hover {
                    background: var(--main-color-50);

                    h5,
                    p {
                        color: #fff;
                    }
                }

                &.active {
                    background: var(--main-color);

                    .altscr2-item-icon {
                        background: #fff;
                        color: var(--main-color);
                    }

                    h5,
                    p {
                        color: #fff;
                    }
                }
            }
        }

        .dtcscr3 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            p {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--main-black);

                span {
                    font-size: 1.25rem;
                    font-weight: 500;
                }
            }

            .pr-btn {
                padding: 0.5rem 1.25rem;
                font-size: 1.25rem;
            }
        }

        .dtcscr4 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            margin-bottom: 2rem;

            .dtcscr4r1 {
                .sub-tabs {
                    max-width: 500px;
                    display: flex;
                    align-items: center;
                    padding: 0.25rem;
                    margin: 0 auto 2rem;
                    background: #fff;
                    border-radius: 1.5rem;
                    border: 1px solid var(--main-color);
                    gap: 0.5rem;

                    .sub-tab {
                        position: relative;
                        flex: 1;
                        padding: 0.75rem 0 0.5rem;
                        font-size: 1.15rem;
                        font-weight: 500;
                        text-align: center;
                        color: var(--main-color);
                        cursor: pointer;
                        transition: color 0.3s ease;
                        border-radius: 1.15rem;

                        &.active {
                            background: var(--main-color);
                            color: #fff;
                            font-weight: 700;
                            font-size: 1.15rem;
                        }

                        &:hover:not(.active) {
                            background: var(--main-color-10);
                            color: var(--main-color);
                        }
                    }
                }
            }

            .dtcscr4r2 {
                margin-bottom: 2rem;

                .sc-btn {
                    width: 300px;
                    padding: 0.5rem 1.25rem;
                    font-size: 1.25rem;
                    margin-bottom: 1rem;
                }

                .form {
                    max-width: 400px;
                    margin: 0 auto;
                    margin-bottom: 2rem;
                }

                .detail-title {
                    font-size: 2rem;
                    font-weight: 700;
                    color: var(--main-color);
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                    border-bottom: 2px solid var(--main-color);
                    text-align: start;
                }

                .detail-class {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }

                .detail-group {
                    background: #fff;
                    border-radius: 1rem;
                    padding: 1.5rem 2rem;
                    border: 1px solid #e5e7eb;
                    box-shadow: 0 3px 10px var(--main-color-20);
                }

                .group-title {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: var(--main-black);
                    margin-bottom: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: 2px solid var(--main-color);
                }

                .group-content {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1.5rem;
                }

                .detail-item {
                    background: #fff;
                    padding: 1rem;
                    border-radius: 0.75rem;
                    border: 1px solid var(--main-color);
                }

                .detail-item h4 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: var(--main-color);
                    margin-bottom: 0.5rem;
                }

                .detail-item p {
                    font-size: 1.25rem;
                    color: var(--main-black);
                }

                /* Lịch học */
                .schedule-item {
                    margin-top: 8px;
                    padding: 0.75rem;
                    border-radius: 8px;
                    background: #fff;
                    border: 4px solid var(--main-color);
                }

                .schedule-day {
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: var(--main-black);
                    margin-bottom: 0.5rem;
                }

                .schedule-time {
                    font-size: 1rem;
                    color: var(--main-black);
                }

                .detail-item-schedule {
                    grid-column: span 2; // Chiếm 2 cột
                }

                .table {

                    .pr-btn,
                    .delete-btn {
                        padding: 0.5rem 1.25rem;
                        font-size: 1.25rem;
                        margin: 0 0.5rem;
                    }

                    .action-buttons {
                        display: flex;
                        gap: 0.5rem;
                        align-items: center;
                    }
                }

                .detail-student-attendance {
                    display: flex;
                    gap: 1rem;

                    .dsac1,
                    .dsac2 {
                        h5 {
                            font-size: 1.5rem;
                            font-weight: 700;
                            color: var(--main-color);
                            margin-bottom: 1rem;
                            text-align: center;
                            margin-bottom: 0.75rem;
                        }
                    }

                    .dsac1 {
                        flex: 1;

                        .pie-chart {
                            width: 300px;
                            height: 300px;
                            margin: 0 auto;

                            .recharts-wrapper *:focus {
                                outline: none;

                                .recharts-default-legend {
                                    width: fit-content;
                                    margin: 0 auto !important;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 1rem;

                                    .recharts-legend-item {
                                        display: flex !important;
                                        align-items: center !important;
                                    }
                                }
                            }
                        }
                    }

                    .dsac2 {
                        flex: 2;
                    }
                }
            }

            .dtcscr4r3 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                .pr-btn,
                .delete-btn,
                .disable-btn {
                    padding: 0.75rem 1.25rem;
                    font-size: 1.25rem;
                }
            }
        }
    }
}