#tutor-wallet-section {
    .tws-container {
        max-width: 1200px;
        margin: 0 auto;

        .twscr1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            margin-bottom: 2rem;

            h4 {
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--main-color);
            }

            p {
                font-size: 1.25rem;
                font-weight: 500;
                color: var(--main-black);

                span {
                    background: var(--main-color-10);
                    padding: 0.5rem 0.75rem;
                    border-radius: 0.5rem;
                    margin-left: 0.5rem;
                }
            }
        }

        .twscr2 {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 2rem;
            margin-bottom: 2rem;

            .twscr2-item {
                flex: 1;
                background: #fff;
                border-radius: 1rem;
                padding: 1rem;
                cursor: pointer;
                transition: all 0.3s ease;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 1rem;
                transition: all 0.3s ease;

                .twscr2-item-icon {
                    padding: 0.75rem;
                    font-size: 2.5rem;
                    background: var(--main-color);
                    border-radius: 0.75rem;
                    color: #fff;
                }

                h5 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: var(--main-color);
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 1.25rem;
                    font-weight: 500;
                    color: var(--main-color);
                }

                &:hover {
                    background: var(--main-color-30);

                    h5 {
                        color: #fff;
                    }
                }

                &.active {
                    background: var(--main-color);

                    .twscr2-item-icon {
                        background: #fff;
                        color: var(--main-color);
                    }

                    h5,
                    p {
                        color: #fff;
                    }
                }
            }
        }

        .twscr3 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            p {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--main-black);

                span {
                    font-size: 1.25rem;
                    font-weight: 500;
                }
            }

            .pr-btn {
                padding: 0.5rem 1.25rem;
                font-size: 1.25rem;
            }
        }

        .twscr4 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 1rem;
        }
    }
}
