.hs-logo {
    display: inline-flex;

    .hs-logo-text {
        font-size: 1.75rem;
        font-weight: 900;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--main-color);
        margin: 0;
        cursor: pointer;
    }

    .hs-logo-char {
        display: inline-block;
        animation: bounceColor 1s infinite ease-in-out;
    }
}

@keyframes bounceColor {
    0%,
    100% {
        transform: translateY(0);
        color: var(--main-color);
    }
    50% {
        transform: translateY(-5px);
        color: var(--main-color-50);
    }
}
