#header-student {
    #hs-section {
        padding: 0 20px;

        .hss-container {
            max-width: 1300px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }
    }
}