#detail-tutor-section {
    background: var(--main-color-10);
    padding-bottom: 2rem;

    .dts-container {
        .dtscr1 {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .dtscr2 {
            max-width: 1400px;
            margin: 0 auto;
            display: flex;
            gap: 2rem;
            padding: 0 2rem;

            .dtscr2c1 {
                height: fit-content;
                background: #fff;
                padding: 1rem;
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                border-radius: 0rem 0rem 1rem 1rem;

                .avatar {
                    width: 150px;
                    height: 150px;
                    background: #ccc;
                    border-radius: 50%;
                    border: 10px solid #fff;
                    object-fit: cover;
                    margin-top: -4.5rem;
                    margin-bottom: 1rem;
                }

                .info {
                    text-align: center;

                    .name {
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: var(--main-color);
                        margin-bottom: 0.5rem;
                    }

                    .rating,
                    .phone,
                    .location,
                    .email {
                        font-size: 1.25rem;
                        font-weight: 500;
                        color: var(--main-black);
                        margin-bottom: 0.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;

                        .icon {
                            color: var(--main-color);
                        }
                    }
                }

                .action {
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .pr-btn,
                    .disable-btn,
                    .sc-btn,
                    .delete-btn {
                        width: 270px;
                        padding: 0.75rem 1.25rem;
                        font-size: 1.25rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;
                    }
                }
            }

            .dtscr2c2 {
                flex: 2;

                .tabs {
                    display: flex;
                    align-items: center;
                    padding: 0.5rem;
                    margin: 1rem 0;
                    background: #fff;
                    border-radius: 1.5rem;
                    gap: 0.5rem;

                    .tabs-item {
                        position: relative;
                        flex: 1;
                        padding: 0.75rem 0 0.5rem;
                        font-size: 1.25rem;
                        font-weight: 500;
                        text-align: center;
                        color: var(--main-color);
                        cursor: pointer;
                        transition: color 0.3s ease;

                        &.tabs-item-actived {
                            background: var(--main-color);
                            border-radius: 1rem;
                            color: #fff;
                            font-weight: 700;
                            font-size: 1.25rem;
                        }

                        &:hover:not(.tabs-item-actived) {
                            background: var(--main-color-10);
                            color: var(--main-color);
                            border-radius: 1rem;
                        }
                    }
                }

                .tabs-content {
                    width: 100%;
                    background: #fff;
                    padding: 1.5rem;
                    border-radius: 1rem;
                    margin-bottom: 1.5rem;

                    h4 {
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: var(--main-color);
                        padding-bottom: 1rem;
                        margin-bottom: 1rem;
                        border-bottom: 2px solid var(--main-color);
                        text-align: center;
                    }

                    p {
                        font-size: 1.25rem;
                        font-weight: 500;
                        color: var(--main-black);
                        margin: 1rem 0;

                        span {
                            font-size: 1.45rem;
                            font-weight: 700;
                            color: var(--main-black);
                        }
                    }

                    .list {
                        display: flex;
                        justify-content: center;
                        gap: 1rem;
                        flex-wrap: wrap;
                    }

                    .form {
                        max-width: 300px;
                        margin: 0 auto;
                        margin-bottom: 1rem;

                        .form-input-icon {
                            font-size: 1.5rem;
                        }

                        .form-input {
                            width: 100%;
                            padding: 0.75rem 0.75rem 0.75rem 2.5rem;
                            font-size: 1.25rem;
                            font-weight: 500;
                        }

                        .pr-btn {
                            padding: 0.5rem 1rem;
                            font-size: 1.25rem;
                        }
                    }
                }

                .tutor-feedback {
                    .feedback-stat {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        margin-bottom: 1rem;
                        padding: 1rem;
                        background: var(--main-color-10);
                        border-radius: 1rem;

                        .fsc1 {
                            flex: 1;

                            .fsc1r1 {
                                font-size: 1.5rem;
                                font-weight: 500;
                                color: var(--main-color);
                                text-align: center;

                                span {
                                    font-size: 2rem;
                                }
                            }

                            .fsc1r2 {
                                .rating-stars {
                                    span {
                                        font-size: 2rem !important;
                                        color: var(--main-color) !important;
                                        margin: 0 0.25rem !important;
                                    }
                                }
                            }
                        }

                        .fsc2 {
                            flex: 3;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 1rem;

                            .fsc2-item {
                                text-align: center;
                                padding: 0.5rem;
                                background: #fff;
                                color: var(--main-color);
                                font-size: 1.25rem;
                                border-radius: 0.5rem;
                                cursor: pointer;
                                transition: color 0.3s ease;

                                &.active {
                                    background: var(--main-color);
                                    color: #fff;
                                    font-weight: 500;
                                }

                                &:hover:not(.active) {
                                    background: var(--main-color-10);
                                    color: var(--main-color);
                                    font-weight: 500;
                                }
                            }
                        }
                    }

                    .feedback-tutor {
                        .no-feedback {
                            padding: 2rem;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
