#landing, #student, #parent {
    #landing-s1 {
        padding: 0 20px;

        .ls1-container {
            padding: 10px 20px;
            max-width: 1300px;
            margin: 0 auto;
        }
    }

    #landing-s2 {
        padding: 30px 20px;

        .ls2-container {
            padding: 10px 20px;
            max-width: 1200px;
            margin: 0 auto;

            .ls2cr1 {
                text-align: center;
                margin-bottom: 3rem;

                h3 {
                    font-size: 2rem;
                    font-weight: 800;
                    color: var(--main-color);
                    margin: 0;
                }
            }

            .ls2cr2 {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                justify-content: space-between;

                .ls2cr2c1,
                .ls2cr2c2,
                .ls2cr2c3 {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    align-items: center;
                    text-align: center;

                    h4 {
                        font-size: 1.4rem;
                        font-weight: 700;
                        color: var(--main-black);
                        margin: 0;
                    }

                    .icon {
                        font-size: 4rem;
                        color: var(--main-color);
                    }

                    p {
                        font-size: 1rem;
                        color: var(--main-black);
                        margin: 0;
                    }
                }
            }
        }
    }

    #landing-s3 {
        padding: 30px 20px;
        background-color: var(--main-color-10);

        .ls3-container {
            padding: 10px 0;
            max-width: 1200px;
            margin: 0 auto;

            .ls3cr1 {
                text-align: center;
                margin-bottom: 3rem;

                h3 {
                    font-size: 2rem;
                    font-weight: 800;
                    color: var(--main-color);
                    margin: 0;
                }
            }
        }
    }

    #landing-s4 {
        padding: 30px 20px;

        .ls4-container {
            padding: 10px 0;
            max-width: 1200px;
            margin: 0 auto;

            .ls4cr1 {
                text-align: center;
                margin-bottom: 3rem;

                h3 {
                    font-size: 2rem;
                    font-weight: 800;
                    color: var(--main-color);
                    margin: 0;
                }
            }

            .ls4cr2 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;

                .ls4cr2-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2rem;
                    background-color: var(--main-color-10);
                    border-radius: 0.5rem;

                    .ls4cr2-text {
                        max-width: 350px;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        h4 {
                            font-size: 1.4rem;
                            font-weight: 700;
                            color: var(--main-black);
                            margin: 0;
                        }

                        p {
                            font-size: 1rem;
                            color: var(--main-black);
                            margin: 0;
                        }
                    }

                    .ls4cr2-icon {
                        font-size: 4rem;
                        color: var(--main-color);
                    }
                }
            }
        }
    }

    #landing-s5 {
        padding: 30px 20px;
        background-color: var(--main-color-10);

        .ls5-container {
            padding: 10px 0;
            max-width: 1200px;
            margin: 0 auto;

            .ls5cr1 {
                text-align: center;
                margin-bottom: 3rem;

                h3 {
                    font-size: 2rem;
                    font-weight: 800;
                    color: var(--main-color);
                    margin: 0;
                }
            }

            .ls5cr2 {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                justify-content: center;

                .ls5cr2-button {
                    padding: 0.5rem 1.25rem;
                }
            }
        }
    }
}
