#admin {
    #admin-header {
        position: absolute;
        top: 0px;
        right: 0;
        width: calc(100% - 300px);
    }

    #admin-sidebar {
        position: fixed;
        width: 300px;
        height: 100%;
        left: 0;
        top: 0;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    #admin-main {
        margin-top: 96px;
        margin-left: 300px;
        background: var(--main-color-10);
        border-radius: 2rem;
        min-height: calc(100vh - 160px);
        padding: 2rem;
    }
}
