#tutor-dashboard-section {
    .tds-container {
        max-width: 1200px;
        margin: 0 auto;

        .tdscr1 {
            display: flex;
            gap: 1rem;

            .tdscr1c1 {
                flex: 2;
                height: 400px;
                background: #fff;
            }
            .tdscr1c2 {
                flex: 3;
                background: #fff;
                height: 400px;
            }
        }
    }
}
